pytube
SpeechRecognition
pydub
youtube_dl
python-ffmpeg
python-dotenv
langchain==0.2.14
langchain-community==0.2.12
langchain-groq===0.1.9
moviepy
requests
ffmpeg-python
assemblyai
streamlit
fastapi
python-multipart
sounddevice
numpy
websockets
uvicorn
pyaudio
deepgram-sdk==v3.7.2
soundfile
scipy
-e .